<main class="py-8 flex justify-center">
  <table *ngIf="users$ | async as users">
    <tr class="bg-black text-white">
      <th class="py-2">id</th>
      <th class="py-2">username</th>
      <th class="py-2">email</th>
      <th class="py-2">name</th>
      <th class="py-2">surname</th>
      <th class="py-2"></th>
      <th class="py-2"></th>
    </tr>
      <tr  *ngFor="let user of users" class="bg-slate-100">
        <td class="p-4">{{user.id}}</td>
        <td class="p-4">
          <input type="text" [value]="user.username" [(ngModel)]="user.username" />
        </td>
        <td class="p-4">
          <input type="text" [value]="user.email" [(ngModel)]="user.email" />
        </td>
        <td class="p-4">
          <input type="text" [value]="user.name" [(ngModel)]="user.name" />
        </td>
        <td class="p-4">
          <input type="text" [value]="user.surname" [(ngModel)]="user.surname" />
        </td>
        <td class="p-4">
          <button (click)="onDelete(user.id)" class="px-4 py-2 bg-red-500 text-white">Delete</button>
        </td>
        <td class="p-4">
          <button (click)="onSave(user)" class="px-4 py-2 bg-blue-500 text-white">Save</button>
        </td>
      </tr>
  </table>
</main>
